/OD_matica_DPMZ_GOR_15_final.dat
/OD_matica_DPMZ_GOR_15_prestupy.xls
/Tarifa_average_demand_GOR.mos
/data_zilina_hrany.dat
/data_zilina_uzly.txt
/data_zv_25.dat
/data_zv_25_hrany.dat
/data_zv_25_uzly.dat
/data_zv_bb_pal.dat
/data_zv_okres_pal.dat
/exportedStopsZV25.csv
/exportedWaysZV25.csv
/prestupna_matica_DPMZ_GOR_15.dat
/prestupy.csv
